body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    filter: blur(5px);
}

.container {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
}

.pharmacy-item {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pharmacy-item:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-group-item h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.list-group-item p {
    font-size: 1rem;
    color: #666666;
}

.list-group-item small {
    font-size: 0.875rem;
    color: #999999;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: #ffffff;
}

.action-buttons a {
    margin-right: 5px;
}

.action-buttons a:last-child {
    margin-right: 0;
}

.d-flex.flex-wrap .btn {
    margin-bottom: 5px;
}

.modal-content {
    border-radius: 8px;
}

.modal-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-footer {
    border-top: none;
}

/* Адаптивность */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .pharmacy-item {
        padding: 10px;
    }

    .list-group-item h5 {
        font-size: 1.125rem;
    }

    .list-group-item p {
        font-size: 0.875rem;
    }

    .list-group-item small {
        font-size: 0.75rem;
    }
}

@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

