body {
	padding-top: 20px;
	background-color: #f8f9fa;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 900px;
}

.table {
	font-size: 0.9rem;
 /* уменьшенный размер шрифта для таблицы */;
}

.table thead {
	background-color: #343a40;
	color: #fff;
}

.table-hover tbody tr:hover {
	background-color: #f1f1f1;
}

.btn-primary, .btn-secondary, .btn-danger {
	margin-right: 5px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

.table thead {
	float: left;
}

.table tbody {
	width: auto;
	position: relative;
	overflow-x: auto;
}

.table tr {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
}

.table td, .table th {
	text-align: right;
	padding-left: 50%;
	position: relative;
}

.table td::before, .table th::before {
	content: attr(data-label);
	position: absolute;
	left: 0;
	width: 50%;
	padding-left: 15px;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
}

@media (max-width: 576px) {
	.table thead, .table tbody, .table tr, .table td, .table th {
		display: block;
	}
}
