<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Справочная система лекарственных средств{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="my-4 text-center">{% block header %}Справочная система лекарственных средств{% endblock %}</h1>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
