{% extends "base.html" %}

{% block title %}Редактировать лекарство{% endblock %}

{% block header %}Редактировать лекарство{% endblock %}

{% block content %}
<div class="card my-4">
  <div class="card-body">
    <form method="post">
      <div class="form-group">
        <label for="name">Название</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ drug.name }}" required>
      </div>
      <div class="form-group">
        <label for="form">Форма</label>
        <input type="text" class="form-control" id="form" name="form" value="{{ drug.form }}" required>
      </div>
      <div class="form-group">
        <label for="dosage">Дозировка</label>
        <input type="text" class="form-control" id="dosage" name="dosage" value="{{ drug.dosage }}" required>
      </div>
      <div class="form-group">
        <label for="package">Упаковка</label>
        <input type="text" class="form-control" id="package" name="package" value="{{ drug.package }}" required>
      </div>
      <button type="submit" class="btn btn-primary">Обновить лекарство</button>
      <a href="{{ url_for('index') }}" class="btn btn-secondary">Отмена</a>
    </form>
  </div>
</div>
{% endblock %}
